body, html {
  height: auto;
}
.c-card__header {
  padding: .75rem;
  background: rgba(51, 51, 51, 0.09);
  height: 85px;
  margin-bottom: 75px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.c-card{
  border-radius: 5px
}
.u-image--rounded {
  border: 5px solid #fff;
}
.header {
  height: 300px;
  background: rgba(128, 128, 128, 0.41);
  margin-bottom: -150px;
}

.u-content--center {
   max-width: 730px;
}

.c-tabs li {
  margin: 0 15px;
  background: rgba(0, 0, 0, 0.1);
  border-radius: 100%;
}

@media (max-width: 736px) {
  .header {
    display: none;
  }
  .c-tabs li {
    margin: 0 5px;
  }
  .u-text--lg{
   font-size: 1rem
  }
}